<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>NDO Virtual Calendar</title>
    <script type="text/javascript" src="{{ url_for('send_js', path='drawcal.js') }} "></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('send_css', path='calendar2020.css') }}">
  </head>
  <body>
      <h1 id="year"></h1>
      <div id="app"></div>
  </body>
<footer>
    <p>Made with ❤️  by <a href=https://github.com/fischersean target="_blank">Sean Fischer </a></p> 
</footer>
</html>
